<main class="page-layout-center page-layout-short">
  <h2>Witaj, <span class="highlight"><%= user.name %></span>!</h2>
  <p class="text-muted mt-1">
    Załóż nowy ticket lub sprawdź status swoich zgłoszeń w menu powyżej.
  </p>
</main>
