
<main class="page-layout">
  <h2 class="mb-2">Zgłoszenia pod Twoją obsługą</h2>
  <div class="ticket-grid">
    <% tickets.forEach(ticket => { %>
      <%- include('../../partials/ticket-card', { ticket: ticket, type: 'active' }) %>
    <% }) %>
  </div>
</main>