
<main style="padding: 4rem 12.5%; min-height: 80vh;">
  <h2 style="margin-bottom: 2rem;">Oczekujące zgłoszenia</h2>
  <div class="ticket-grid">
    <% tickets.forEach(ticket => { %>
      <%- include('../../partials/ticket-card', { ticket: ticket, type: 'pending' }) %>
    <% }) %>
  </div>
</main>