
<main class="page-layout">
  <h2 class="mb-2">Oczekujące zgłoszenia</h2>
  <div class="ticket-grid">
    <% tickets.forEach(ticket => { %>
      <%- include('../../partials/ticket-card', { ticket: ticket, type: 'pending' }) %>
    <% }) %>
  </div>
</main>