<main class="auth-section">
  <div class="auth-card card-small">
    <div class="icon-large icon-success">
      <i class="fa-solid fa-lock"></i>
    </div>
    <h2 class="mb-1">Zgłoszenie zamknięte</h2>
    <p class="text-muted mb-2 line-height">
      Zgłoszenie zostało pomyślnie zamknięte i przeniesione do archiwum.
      Użytkownik, który założył ticket, otrzyma powiadomienie o rozwiązaniu
      problemu.
    </p>

    <a href="/tickets?status=in_progress" class="btn btn-primary btn-wide">
      Przejdź do pozostałych zgłoszeń
      <i class="fa-solid fa-arrow-right icon-gap-left"></i>
    </a>
  </div>
</main>
