<main class="auth-section">
  <div class="auth-card card-small">
    <div class="icon-large icon-success">
      <i class="fa-solid fa-user-check"></i>
    </div>
    <h2 class="mb-1">Konto zostało utworzone</h2>
    <p class="text-muted mb-2 line-height">
      Nowy pracownik został pomyślnie dodany do systemu. Zostało dla niego
      wygenerowane hasło jednorazowe, a status wymuszenia zmiany hasła został
      aktywowany. Skopiuj poniższe hasło i przekaż je pracownikowi.
    </p>

    <div class="box-dashed">
      <span class="text-muted text-small mb-half"
        >Wygenerowane hasło dla użytkownika:</span
      >
      <strong class="result-password"
        ><%= createdUser.temporaryPassword %></strong
      >
    </div>

    <a href="/users" class="btn btn-primary btn-wide">
      Wróć do zarządzania
      <i class="fa-solid fa-arrow-right icon-gap-left"></i>
    </a>
  </div>
</main>
